body {
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 5px 0;
  background: #efefef;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.btn-primary {
  background: #3b82f6;
  padding: 15px;
  border-radius: 10px;
  color: white;
  width: 100%;
  font-size: 18px;
}
